article a {
  color: green;
}

article :where(p, a) {
  line-height: 1.6;
}

h1 {
  letter-spacing: 1px;
}

h2 {
  margin-top: 20px;
}

h3 {
  font-style: italic;
}

body {
  font-family: Arial, sans-serif;
}

.not-me {
  color: #7b2cbf;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
}

:is(h1, h2, h3) {
  font-family: 'Varela Round', sans-serif;
}